
$space-large: 4.5rem;
$title-color: purple;


.page-title{
	margin-top: $space-large;
	margin-bottom: $space-large;
	color: $title-color;
}

input[type=search]{
	box-shadow: none;
}
.result-string{
	font-size: 1.3rem;
}